@font-face {
  font-family: "TT Lakes Regular";
  src: url("../fonts/TTLakes-Regular.eot");
  src: url("../fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes-Bold.woff") format("woff"),
  url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1b1c21;
}

html,
body {
  font-family: "TT Lakes Regular";
  height: 100%;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.wrapper {
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  width: 320px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* site-header */

.site-header__menu {
  display: flex;
  margin: 24px;
}

/* button style */

.button {
  width: 50px;
  text-decoration: none;
  border: none;
  background-color: #fff;
  margin: 0 16px 0 0;
  cursor: pointer;
}

.site-header__btn--search {
  margin: auto;
}

.button:hover svg rect {
  fill: #3edaff;
  transition: 0.4s;
}

.button:hover path {
  fill: #ff3e79;
  transition: 0.3s;
}

/* site-nav */

.site-nav {
  flex: 1 0 auto;
}

.nav__item {
  margin: 0 0 28px 0;
  align-items: center;
}

.site-nav a {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 0 0 24px;
}

.site-nav a:hover {
  background: url(../icon/main/highlight.svg) no-repeat;
  padding: 0 0 0 24px;
  filter: opacity(70%);
  transition: 0.2s;
}

/* footer */

.site-footer {
  flex: 0 0 auto;
  margin: 0 0 0 24px;
}

.site-footer__menu {
  margin: 0 0 16px 0;
}

.mail {
  margin: 0 0 12px 0;
}

.phone {
  font-family: "TT Lakes Bold";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 0 0 40px 0;
}

.switch-language {
  margin: 0 0 32px 0;
}

.switch-language__btn {
  font-family: 'TT Lakes Regular';
  border: none;
  background-color: #fff;
  font-size: 16px;
  margin: 0 7px 0 0;
}

.switch-language__btn:hover {
  color: #7E7E82;
}